{{- /* Head custom content area start */ -}}
<script>
    window.goatcounter = {
        path: function() {
            // Get path and remove trailing / (e.g., /zh/ -> /zh)
            var p = location.pathname.replace(/\/$/, '');
            // Append domain to ensure format is /domain.com/path
            return '/' + location.host + (p || '');
        },
        title: document.title
    };
</script>
<script data-goatcounter="https://stats.brez.top/count" async src="//stats.brez.top/count.js"></script>
{{- /* Head custom content area end */ -}}
